<img src="/i/avatars/wc.jpg" alt="Artem temich Koziar" class="avatar" width="255" height="255" align="right">

<h1>CV / <a [routerLink]="['/cv/resume']">Resume</a></h1>

<h2>Software Engineer, Senior Frontend Developer (Angular), Team Leader, Assistant Manager, Mentor</h2>

<blockquote>
  <strong>Date of Birth:</strong> September 26, 1984 <span class="grey" id="year-old"></span><br>
  <strong>Marital status:</strong> married, two daughters<br>
  <strong>Current location:</strong> Ukraine, Kyiv<br>
  <strong>Born:</strong> Ukraine, Kryvyi Rih<br>
  <strong>Email:</strong> koziar.artem@gmail.com<br>
</blockquote>

<section>
  <h2>Summary</h2>
  <ul>
    <li>Education: Bachelor’s Degree in Computer engineering. <br>
      (National Technical University of Ukraine `Kyiv Polytechnic Institute`)
    </li>
    <li>Experience: since July 2005 / 10+ years of experience in IT.</li>
    <li>A highly enthusiastic developer with over ten years of experience in developing web applications. Proficient
      in JavaScript, AngularJS, HTML5, CSS3 and other emerging frontend development tools and technologies.
    </li>
    <li>Actively involved with the latest technology and updates in the web development field.</li>
    <li>Profound in helping clients achieve their corporate objectives due to a combination of leadership,
      relationship management and technical skills.
    </li>
    <li>Solid management experience in development of different software types (desktop, web, mobile apps,
      middleware). Proven ability to organize and motivate team and achieve a result.
    </li>
    <li>Passionate and driven professional with a love for technology, product and user experience design.</li>
    <li>Efficiently manages multiple assignments, tasks, constantly under pressure, while meeting tight deadlines,
      schedules and consistently achieving goals/quotas above the standards.
    </li>
    <li>Quick learner with great combination of interpersonal and technical skills.</li>
  </ul>
</section>

<section class="experience-section">
  <h2>Experience:</h2>

  <ul>

    <li class="t-article">
      <p>
        <img src="/i/ciklum.png" width="128" height="128" alt="Ciklum">
        <img src="/i/kantar.png" width="128" height="128" alt="Kantar Retail Virtual Reality">
      </p>
      <strong>July 2015 &mdash; Present</strong> (2+ year)<br>
      <strong>Position:</strong> Senior&nbsp;Frontend&nbsp;Engineer<br>
      <strong>Company:</strong> Kantar&nbsp;Retail Virtual&nbsp;Reality, Ciklum<br>
      <strong>Responsibilities:</strong> Performer, R&D&nbsp;Lead, Assistant&nbsp;Team&nbsp;Lead, Branching&nbsp;masters,
      Mentor<br>
      <strong>Technologies:</strong> AngularJS&nbsp;(1,&nbsp;2+), WebPack, SASS, Babel, Jade, Karma, Jasmine, JSCS,
      ESLint, Bootstrap<br>
      <div class="c"></div>
    </li>

    <li class="t-article">
      <p>
        <img src="/i/luxoft.png" width="128" height="128" alt="Luxoft">
        <img src="/i/db.png" width="128" height="128" alt="Deutsche Bank">
      </p>
      <strong>March 2015 &mdash; July 2015</strong> (5 months)<br>
      <strong>Position:</strong> Senior Web Developer<br>
      <strong>Company:</strong> Deutsche Bank, Luxoft<br>
      <strong>Responsibilities:</strong> Performer, Mentor<br>
      <strong>Technologies:</strong> AmgularJS, Grunt, SASS, JSHint, JSCS, Bootstrap<br>
      <div class="c"></div>
    </li>

    <li class="t-article">
      <p>
        <img src="/i/dev-iq.png" width="128" height="128" alt="Dev iQ">
      </p>
      <strong>September 2014 &mdash; March 2015</strong> (7 months)<br>
      <strong>Position:</strong> Frontend Developer<br>
      <strong>Company:</strong> Dev iQ<br>
      <strong>Responsibilities:</strong> Performer<br>
      <strong>Technologies:</strong> AmgularJS, NodeJS, Grunt, SASS, JSHint, lodash, Bootstrap, MomentJS, HTML5,
      CSS3<br>
      <div class="c"></div>
    </li>

    <li class="t-article">
      <p>
        <img src="/i/mobilius.png" width="128" height="128" alt="Mobilius">
      </p>
      <strong>December 2012 &mdash; October 2014</strong> (2+ years)<br>
      <strong>Position:</strong> Co-founder, CTO<br>
      <strong>Company:</strong> Mobilius<br>
      <strong>Responsibilities:</strong> Technical Architecture, Team management, Manage and implementation all parts
      of project, UX/UI<br>
      <strong>Technologies:</strong> PHP, MySQL, HTML5, CSS3, JS, osCommerce<br>
      <div class="c"></div>
    </li>

    <li class="t-article">
      <p>
        <img src="/i/sitetime.png" width="128" height="128" alt="SiteTime">
      </p>
      <strong>September 2005 &mdash; October 2012</strong> (7+ years)<br>
      <strong>Position:</strong> Co-founder<br>
      <strong>Company:</strong> SiteTime<br>
      <strong>Responsibilities:</strong> Technical Architecture, Team management, Estimate cost of projects, Manage
      and implementation all parts of project, UX/UI<br>
      <strong>Technologies:</strong> PHP, MySQL, HTML, CSS, JS, osCommerce, 1C Bitrix, Joomla, TYPO3, Drupal, Magenta,
      WordPress<br>
      <div class="c"></div>
    </li>

    <li class="t-article">
      <p>
        <img src="/i/bnk-studio.png" width="128" height="128" alt="bnk-studio">
      </p>
      <strong>September 2005 &mdash; October 2007</strong> (2+ years)<br>
      <strong>Position:</strong> Co-founder, developer<br>
      <strong>Company:</strong> bnk-studio<br>
      <strong>Responsibilities:</strong> Full-stack developer at small company<br>
      <strong>Technologies:</strong> PHP, MySQL, HTML, CSS, JS<br>
      <div class="c"></div>
    </li>

    <li class="t-article">
      <p>
        <img src="/i/whiteweb.png" width="128" height="128" alt="bnk-studio">
      </p>
      <strong>February 2003 &mdash; September 2005</strong> (3+ years)<br>
      <strong>Position:</strong> Developer<br>
      <strong>Company:</strong> WhiteWeb<br>
      <strong>Responsibilities:</strong> Implementation front-end and back-end parts of projects<br>
      <strong>Technologies:</strong> PHP, MySQL, HTML, CSS, JS<br>
      <div class="c"></div>
    </li>

  </ul>

</section>

<section class="section">
  <h2>Skillset</h2>

  <h3>Tech Specialties:</h3>
  <ul>
    <li>Front-end: JavaScript (ES5, ES6, ES7), TypeScript; AngularJS (1, 2+), React, NodeJS (Express), jQuery;
      WebPack,
      RequireJS, Gulp, Grunt; HTML, CSS, SASS, Less.
    </li>
    <li>Back-end: PHP, Java.</li>
    <li>Testing: Karma, Jasmine, Protractor, Istanbul.</li>
    <li>DB: MongoDB, MySQL, PostgreSQL, Oracle.</li>
    <li>CMS: osCommerce, 1C-Bitrix, Drupal, WordPress, Joomla.</li>
    <li>IDE: WebStorm, IntelliJ IDEA, Sublime.</li>
    <li>Design: UI/UX, Google Material Design, Bootstrap, iOS Human Interface, Display typography, Photoshop,
      Angular UI.
    </li>
    <li>OS: OS X, Linux, Windows.</li>
    <li>Other: git, npm, Bower, ESLint, JSHint, JSCS, lodash/underscore, Handlebars, JSON, XML, JIRA, NGINX, Apache;
      SSL;
      GitHub, BitBucket; Heroku, DigitalOcean, Amazon Web Services, Microsoft Azure; Google Analytics, Microsoft
      Application Insights, Yandex Metrika, Google AdSense/AdWords, Facebook API, Twitter API etc
    </li>
  </ul>

  <h3>Soft Skills:</h3>
  <ul>
    <li>SAFe (Scaled Agile Framework), Agile software development, Scrum, Kanban, Waterfall.</li>
  </ul>

  <p><strong>Languages:</strong> Russian, Ukrainian (native speaker); English (intermediate).</p>
</section>

<section class="section">
  <h2>Certifications</h2>
  <ul>
    <li><a
      href="http://www.scaledagileacademy.com/members/CertificationCertificate.aspx?ID=1308&cguid=504f9c99-af2f-4025-9750-b1b644381b3e"
      target="_blank">Scaled Agile Framework® Agilist (SA) Certification Program</a></li>
    <li>Agile approach to Software Development by The Improved Methods</li>
    <li>M101JS: MongoDB for Node.js Developers</li>
    <li><a href="https://www.udemy.com/certificate/UC-MD7H8QK5/" target="_blank">Build Web Apps with ReactS and
      Flux</a></li>
  </ul>
</section>
