/* header */

.top-header {
  border-bottom: 1px solid #999;
  padding-bottom: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header .top-header__el {
  width: 256px;
  text-align: center;
}

.top-menu {
  border-bottom: 1px solid #999;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.top-menu .top-menu__ul {
  margin: 12px 48px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-menu .top-menu__ul .top-menu__ul__li {
  margin: 0 24px;
}

/* content */

.c {
  clear: both;
}

.avatar {
  border-radius: 50%;
}

.experience-section li {
  padding-right: 8px;
  padding-left: 8px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.experience-section li:hover {
  border-left: 2px solid #999;
  border-right: 2px solid #999;
}

/* footer */

.footer {
  margin-top: 8px;
  padding: 8px;
  border-top: 1px solid #999;
  text-align: center;
}

/* Logs */

.log {
  margin: 8px 0 16px 0;
  padding: 0 8px 0 8px;
  border-top: 1px solid #999;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.log:hover {
  border-left: 2px solid #999;
  border-right: 2px solid #999;
}

.log__date {
  color: #999;
  font-size: 70%;
}
