@import '../../../styles';

.t-header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  padding: 0;

  &__top {
    font-family: 'WeberHandITCStd';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    margin: 0 auto;
    max-width: 1024px;

    &__logo {
      position: absolute;
      z-index: -1;
      top: 12px;
      right: calc(50% - 21px);

      .avatar {
        border-radius: 50%;
      }

      .loader {
        display: block;
        position: absolute;
        right: calc(50% - 21px);
        z-index: 100;
        content: '';
        border: 2px solid #f3f3f3; /* Light grey */
        border-top: 2px solid #3ba0d4; /* Blue */
        border-radius: 50%;
        width: 42px;
        height: 42px;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

    }
  }

  &__menu {
    list-style: none;
    background: #505050;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4px 0;
    margin: 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    a {
      padding: 4px 24px;
    }

    a, a:link, a:visited {
      color: #fff;
      text-decoration: none;
    }
    a.active {
      background: #fff;
      color: #000;
    }
    a:hover {
      color: #000;
      background: #eee;
    }
  }
}
