<header class="t-header">
  <section class="t-header__top">
    <h3>temich</h3>
    <div class="t-header__top__logo">
      <div class="loader"></div>
      <img
        src="/assets/img/avatars/hololens.jpg"
        class="avatar"
        width="42"
        height="42"
        alt="Artem Koziar">
    </div>
    <h2>Artem Koziar</h2>
  </section>
  <nav>
    <menu class="t-header__menu">
      <li>
        <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Index
        </a>
      </li>
      <!--<li>-->
        <!--<a [routerLink]="['/about']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
          <!--About-->
        <!--</a>-->
      <!--</li>-->
      <li>
        <a [routerLink]="['/family']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Family
        </a>
      </li>
      <li>
        <a [routerLink]="['/log']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Log
        </a>
      </li>
      <li>
        <a [routerLink]="['/cv']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          CV
        </a>
      </li>
      <li>
        <a [routerLink]="['/contacts']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Contacts
        </a>
      </li>
    </menu>
  </nav>
</header>
