/*
  Predefine tags
*/

html, body {
  margin:0;
  height:100%;
  min-height:100%;
}

body {
  font-family: Menlo, Monaco, 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
  background: #292c36;
  color: #eee;
  min-width: 288px;
}

pre {
  margin: 5px 0;
  padding: 5px;
  border: 1px dashed #666;
  color: #666;
}

a {
  color: inherit;
  text-decoration: underline;
}

/*
  General classes
*/

.c {
  clear: both;
}

.cr {
  clear: right;
}

.cl {
  clear: left;
}

.grey, .gray {
  color: #666;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.avatar {
  border-radius: 50%;
}
