#content {}

#content .main__header {
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
  margin-bottom: 1em;
}

#content > .main {
  padding: 1em;
}

.main__header__h1 {
  color: #ccc;
  text-shadow: 1px 4px 6px #292c36, 0 0 0 #000, 1px 4px 6px #292c36;
}

.main__header__h1__name {
  color: #fff;
}

.main__header__about {
  color: #666;
}
