#top {
  background-color: rgba(41, 44, 54, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 1em;
}

/*
  Logo
*/

#top .logo {
  float: left;
}

#top .logo__a {
  color: inherit;
  text-decoration: none;
}

#top .logo__a:hover {
  opacity: 0.5;
}

#top .logo__ua {
  background: -webkit-linear-gradient(yellow, dodgerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
  Menu
*/

#top .menu {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

#top .menu__item {
  float: left;
  margin: 2em 0 0 1em;
  padding: 0;
}

#top .menu__item__a {
  color: #fff;
}

#top .menu__item__s {
  color: #666;
}

#top .menu__item__a:hover {
  opacity: 0.5;
}

#top .menu__item--active .menu__item__a {
  text-decoration: none;
  color: red;
}

#top .menu__item--active .menu__item__s {
  color: dodgerblue;
}
