.t-ribbon {
    width: 100%;
    height: 40vh;
    background: #000 url(/assets/images/bg_texture.jpg);
    flex-shrink: 0;
}

.t-main {
    margin-top: -35vh;
    flex-shrink: 0;
}

.t-header {
    .mdl-layout__header-row {
        padding-left: 40px;
    }
    .t-ico {
        margin-right: 1vw;
        margin-left: 30px;
    }
}

.t-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;

    .t-content {
        border-radius: 2px;
        padding: 80px 56px;
        margin-bottom: 80px;
        position: relative;
        h1 {
            margin-top: 48px;
        }
    }
}

.t-layout.is-small-screen {
    .t-content {
        padding: 40px 28px;
    }
}

.t-footer {
    padding-left: 40px;
    .mdl-mini-footer--link-list {
        a {
            font-size: 13px;
        }
    }
}

.t-ico-temich {
    background-position: 0 0;
    padding-right: 43px;
}
.t-ico-lg {
    background-size: 112px 248px;
    padding: 42px 42px 0 0;
}
.t-ico {
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    text-decoration: inherit;
    line-height: 1;
    display: inline-block;
    vertical-align: -8%;
    -webkit-font-smoothing: antialiased;
    font-size: inherit;
    background-repeat: no-repeat;
    background-image: url(/assets/images/t-icons.png);
}

.img-circle {
    border-radius: 50%;
}

.t-avatar {
    position: absolute;
    top: 1vw;
    right: 1vw;
}