.top {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.navbar {
  background-color: #292c36;
}


.ua {
  background: -webkit-linear-gradient(yellow, dodgerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
