@import '../styles';

.t-main {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'WeberHandITCStd';
  }

  .acenter {
    text-align: center;
  }

  .small {
    font-size: 75%;
  }

  .avatar {
    border-radius: 50%;
  }

  .t-article {
    margin: 16px;
    padding: 8px;
    border: 1px solid $border-color;
    border-radius: 3px;
  }
}
