@import '../styles';

.t-main {
  margin: 50px auto 0 auto;
  max-width: 1024px;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'WeberHandITCStd';
  }

  a {
    color: #3ba0d4;
  }
  a:visited {
    color: #9e4036;
  }
  a:hover {
    color: #dd423e;
  }

  .acenter {
    text-align: center;
  }

  .small {
    font-size: 75%;
  }

  .grey {
    color: #9f9f9f;
  }

  .avatar {
    border-radius: 50%;
  }

}
