* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, Arial;
  font-weight: 400;
  font-display: optional;
  color: #444;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  background: #ececec;
}

@font-face {
  font-family: "WeberHandITCStd";
  src: url("/i/fonts/WeberHandITCStd.woff2") format("woff2"),
    url("/i/fonts/WeberHandITCStd.woff") format("woff"),
    url("/i/fonts/WeberHandITCStd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/**
General styles
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "WeberHandITCStd", "Helvetica", "Verdana", sans-serif;
}

h1 {
    text-align: center;
}

a {
  color: #3ba0d4;
}

a:visited {
  color: #7a2877;
}

a:hover {
  color: #dd423e;
}

.acenter {
  text-align: center;
}

.small {
  font-size: 75%;
}

.grey, a.grey, a.grey:link, a.grey:visited {
  color: #9f9f9f;
}
a.grey:hover {
    color: #000;
}

.avatar {
  border-radius: 50%;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-bottom: 16px;
}

.width-100 {
  flex-grow: 1;
}

.nobr {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.c, .clear {
    clear: both;
}

/**
App
 */

.content {
  max-width: 900px;
  margin: 0 auto;
  flex: 1;
}

.main {
  display: flex;
  padding-top: 32px;
  flex: 1;
  overflow-y: auto;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.main .title {
  min-height: 40px;
  background-color: #565656;
  color: transparent;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.main .card {
  padding: 16px;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  margin: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 14pt;
}

.main .content .card--avatar {
  min-height: 290px;
}

.i-love {
  display: flex;
  justify-content: space-around;
}
.i-love-triathlon {
  text-align: center;
  margin: 0;
  padding: 0;
}

/**
Welcome
 */

.welcome {
  display: flex;
  margin: 40px 0 20px 0;
}

.welcome__atavar {
  width: 400px;
  text-align: center;
}

.welcome__text {
  flex: 1;
  text-align: left;
}

.main__quote {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  font-size: 14pt;
  line-height: 22pt;
  margin: 80px 0;
}

.main__quote:before {
  content: '';
  top: 0;
  left: 0;
  width: 7px;
  height: 100%;
  background: #ccc;
  position: absolute;
}

.main__quote:after {
  content: '';
  top: 0;
  right: 0;
  width: 7px;
  height: 100%;
  background: #ccc;
  position: absolute;
}

.companies {
  margin: 40px auto;
  width: 90%;
}

.main .card.card-text {
  padding-left: 40px;
  padding-right: 40px;
}

.main .card.card-black {
  background: #666;
  color: #fff;
}

.card.get-in-touch {
  margin-bottom: 80px;
}

.technologies {
  margin: 40px auto;
  width: 90%;
}

.logos {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

.services {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto 80px auto;
}

.services .card {
  width: 210px;
  margin: 4px;
  text-align: center;
}

/**
Header
 */

.header {
  overflow: hidden;
  width: 100%;
  height: 32px;
  color: #fff;
  background: #505050;
  position: fixed;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12),
    0 4px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 8px 16px 0 16px;
  will-change: transform;
  transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  z-index: 1000;
}

.header .content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  padding: 0 16px;
}

.header__title {
  font-weight: 400;
  font-size: 19px;
  margin: 0;
  flex: 1;
}

.header__nav {
}
.header__nav__ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav__li {
  margin-left: 16px;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-weight: lighter;
}

.header b a,
.header b a:visited {
  color: #000;
  font-weight: bold;
}

#logo:visited {
  color: #eee;
}

.header a:hover,
.header .hover {
  color: #fff;
  text-decoration: underline;
}

/**
Footer
 */

.footer {
  position: relative;
  color: #fff;
  background: #505050;
  padding: 8px 0;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.6);
}

.footer__copyright {
  font-family: "WeberHandITCStd", sans-serif;
  text-align: center;
  font-size: 10pt;
}

.footer .hitua {
  position: absolute;
  right: 4px;
  bottom: 4px;
}

/**
Loader
 */

.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.loader #spinner {
  box-sizing: border-box;
  stroke: #000;
  stroke-width: 3px;
  transform-origin: 50%;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite,
    rotate 1.6s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(450deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(450deg);
  }
}

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
  }
}

.show-on-print {
  display: none;
}

@media print {
  * {
    color: #000;
    background-color: #fff;
    box-shadow: none;
    text-shadow: none;
  }

  pre, blockquote, .card {
    page-break-inside: avoid;
  }

  .show-on-print {
    display: block;
  }

  .hide-on-print {
    display: none;
  }

  .header,
  .footer {
    display: none;
  }

  .title {
    color: #000 !important;
  }

  .card a[href^="http://"]:after, .card a[href^="https://"]:after {
    content: " (" attr(href) ")";
    font-size: 90%;
  }
}

.github {
    font-style: italic;
    margin-left: 20px;
}
.github:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('/i/github.ico') 0 0 no-repeat;
    background-size: 100%;
    margin-left: -18px;
}
