@import '../../styles';

.t-logs {
  .t-article {
    margin: 4px 0;
    padding: 2px 8px;
    border-radius: 3px;
    border: 1px solid #fff;

    h2 {
      margin: 4px 0;
      a {
        cursor: pointer;
      }
    }

    &__content {
      ::ng-deep img {
        width: 600px;
        max-width: 100%;
      }
    }

    &--with-content {
      margin: 16px 0;
      padding: 8px;
      border: 1px solid $border-color;

      h2 {
        margin: 16px 0;
      }
    }

  }

}
