$nav-button-color: #00838F;

$border-color: rgba(27,31,35,0.2);

html, body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  //font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@font-face {
  font-family: 'WeberHandITCStd';
  src: url('/assets/fonts/WeberHandITCStd.woff2') format('woff2'),
  url('/assets/fonts/WeberHandITCStd.woff') format('woff'),
  url('/assets/fonts/WeberHandITCStd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
