/* You can add global styles to this file, and also import other style files */
//@import "app/home/home.scss";

t-app-root {
    background: yellow;
    h1 {
        color: red;
    }
}

$color: green;