/* header */

.top-header {
  border-bottom: 1px solid #999;
  padding-bottom: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu {
  border-bottom: 1px solid #999;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.top-menu .top-menu__ul {
  margin: 12px 48px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-menu .top-menu__ul .top-menu__ul__li {
  margin: 0 24px;
}

/* content */

.avatar {
  border-radius: 50%;
}

/* footer */

.footer {
  margin-top: 8px;
  padding: 8px;
  border-top: 1px solid #999;
  text-align: center;
}
