<div>
  <h1>Artem Koziar's Home Page</h1>
  <h2 class="acenter">Hello, World!</h2>

  <article>
    <p>Only the people who take learning, growth and skills development into their own hands will be tomorrow's leaders.</p>
    <p><img src="http://temich.in.ua/-i/vr-people-workplace-2017-04-14.jpg" width="600" height="445" alt="" title=""></p>
    <p>🏆😁 #vrinfinity #vrpeople #kyiv #ukraine #krvr #vr #vrinfinity #kantar #kantarretail #kantarretailvirtualreality #greatpeople #development #selfdevelopment #learning #growth #kyiv #ukraine <a href="https://www.instagram.com/p/BS4A0QjAYTD/">www.instagram.com/p/BS4A0QjAYTD/</a></p>
    <p>&copy; <a href="https://www.instagram.com/vr.people/">vr.people</a></p>
  </article>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <div>
    <h3>Local State:</h3>

    <form (ngSubmit)="submitState(localState.value)" autocomplete="off">

      <input
        [value]="localState.value"
        (input)="localState.value = $event.target.value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button>Submit Value</button>
    </form>
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->

    <pre>this.localState = {{ localState | json }}</pre>

  </div>

</div>
